name: build

on:
  push:
    branches:
        - main
    tags:
      - 'v*'
  pull_request:
    branches:
        - main
  workflow_dispatch:
    branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v3
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run tests
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: sbt test

  publish:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 10
    if: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')}}

    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish library
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: sbt publish
